*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

background:
linear-gradient(
135deg,
#081120,
#101e35
);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:1200px;

display:flex;

overflow:hidden;

border-radius:30px;

background:white;

box-shadow:
0 50px 90px
rgba(0,0,0,.35);

}

.left{

flex:1;

padding:70px;

color:white;

background:
linear-gradient(
180deg,
#2457ff,
#183cb8
);

}

.left h1{

font-size:54px;

margin-bottom:20px;

}

.left p{

font-size:20px;

opacity:.8;

}

.card{

flex:1;

padding:70px;

}

.card h2{

font-size:38px;

margin-bottom:10px;

}

.card p{

color:#777;

margin-bottom:35px;

}

input{

width:100%;

padding:18px;

margin-bottom:18px;

border:none;

background:#f5f6fb;

border-radius:15px;

font-size:16px;

}

input:focus{

outline:none;

border:

2px solid #2457ff;

}

button{

width:100%;

padding:18px;

border:none;

border-radius:15px;

cursor:pointer;

background:#2457ff;

color:white;

font-size:18px;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

}

a{

display:block;

margin-top:25px;

text-align:center;

text-decoration:none;

color:#2457ff;

}