*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI;

}

body{

background:#081120;

}

.wrapper{

display:flex;

height:100vh;

}

.sidebar{

width:280px;

background:#101d35;

padding:40px;

}

.sidebar h2{

color:white;

margin-bottom:40px;

}

.sidebar a{

display:block;

margin-bottom:20px;

color:#b6c0da;

text-decoration:none;

}

.content{

flex:1;

padding:60px;

}

h1{

color:white;

margin-bottom:30px;

}

form{

max-width:700px;

background:white;

padding:40px;

border-radius:30px;

}

input,
select,
textarea{

width:100%;

padding:18px;

margin-bottom:20px;

border-radius:15px;

border:none;

background:#f4f7fb;

}

button{

width:100%;

padding:18px;

border:none;

background:#2457ff;

color:white;

border-radius:15px;

cursor:pointer;

}